@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:ital,wght@1,300&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:ital,wght@1,300&family=Ubuntu:wght@300;400&display=swap');

body{
    background-color: grey;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: aliceblue;
    font-weight: bolder;
}
nav ul li{
    padding: 0px 12px;
    cursor: pointer;
}
nav ul li:hover{
    color: green;
}

#brand img{
    width: 70px;
    padding: 0px 8px;
}
.container{
    min-height: 70vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: aliceblue;
    display: flex;
    margin : 25px auto;
    width: 70%;
    border-radius: 30px;
    background-image: url('logos/bg1.jpg');
}
.songlist h2{
    padding: 15px;
}
#brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
    cursor: pointer;
}
#myprogressbar{
    width: 75vw;
    cursor: pointer;
}
.songitem{
    height: 50px;
    width: 85%;
    background-color: green;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 23px 26px;
    border-radius: 30px;
    align-items: center;
    font-weight: bolder;
}
.songitem img{
    width: 50px;
    margin: 20px; 
    border-radius: 50px;
}
.songinfo{
    position: absolute;
    left: 2vw;
    padding: 20px;
    font-size: x-small;
    font-weight: bold;
}